extends layout

mixin contactList
    table
        tr
            th Platform
            th: +loc({en: "Username", hu: "Azonosító"})
        block

mixin contact(platform, contact, url, urlOption)
    if url
        - if (urlOption === undefined) url = url + contact.replace(/\s/g, '')
        - if (urlOption instanceof RegExp) url = url + contact.replace(urlOption, '')
        - if (urlOption === true) url = url + contact
        - if (typeof urlOption === 'string') url = url + urlOption
    tr(data-is-contact, data-platform=loc(platform), data-contact=contact, data-url=url)
        td
            if block
                block
            else
                +loc(platform)
        td
            if url
                a(href=url)= contact
            else
                = contact

block append head
    +stylesheet('contacts')

block append maintop
    input(type='search', placeholder=loc({en: "Filter", hu: "Szűrés", default: "🔎"}), data-search-selector='[data-is-contact]', data-search-properties=['platform', 'contact',
        'url'])
    script(src="/scripts/searchBar.js")

block content
    section
        +contactList
            +contact("Web", ["domonkos.lezsák.hu"], "http://", true)
            +contact("Email", "lezsakdomi1@gmail.com", "mailto:")
            +contact({en: "Phone", hu: "Telefon"}, "+36 30 232 6548", "tel:")
            +contact("Zoom PMID", "630 232 6548", "https://zoom.us/j/")
            +contact("Messenger", "lezsakdomi", "https://m.me/")
            +contact("Instagram", "lezsakdomi_", "https://www.instagram.com/")
            +contact("GitHub", "lezsakdomi", "https://github.com/")
            +contact("GitLab", "lezsakdomi", "https://gitlab.com/")
            +contact("Facebook", "lezsakdomi", "https://facebook.com/")
            +contact({hu: "Időkapu", en: "Time portal"}, "684XKRZ92C", "portal:")
    section
        h2: +loc({en: "Further contacts", hu: "További elérhetőségek"})
        p: +loc({
            hu: "Kérem keressen a fenti elérhetőségek egyikén mielőtt ezeken próbálna elérni - nem használom napi szinten",
            en: "Please ping me if you'd like to contact me on any of these - I don't check them regularly"
        })
        +contactList
            +contact("Viber", "+36 30 232 6548")
            +contact("WhatsApp", "+36 30 232 6548")
            +contact("Skype", "lezsakdomi@outlook.com")
            +contact("IRC", "lezsakdomi@freenode.net")
            +contact("Google Allo", "+36 30 232 6548")
            +contact("ICQ")
            +contact("Twitter", "lezsakdomi", "https://twitter.com/")
            +contact("LinkedIn", "lezsakdomi")
            +contact("Google Hangouts", "lezsakdomi1@gmail.com")
            +contact("Telegram", "lezsakdomi")
            +contact("Web", "lezsakdomi.uw.hu", "http://lezsakdomi.uw.hu/index.php", false)
            +contact("TCP", "ledomi-pc.alkotmány-utca.v.bp.lezsák.hu port 5000", "tcp://ledomi-pc.alkotmány-utca.v.bp.lezsák.hu:5000", false)
    section
        h2: +loc({hu: "Email-címeim", en: "Email addresses I own"})
        if lang === 'en'
            p.
                If you've received an email from any of these addresses, with a valid SPF, you can
                consider it mine.
        ul
            mixin email(email)
                a(href="mailto:" + email)= email
            mixin email-item(email)
                li(data-is-contact, data-is-email, data-platform=loc("Email"), data-contact=email, data-url=`mailto:${email}`): +email(email)
            +email-item("lezsakdomi1@gmail.com")
            +email-item("domonkos.lezsak@weborigo.eu")
            +email-item("lezsakdomi@caesar.elte.hu")
            +email-item("lezsakdomi@mensa.hu")
            +email-item("lezsakd12a@verespg.hu")
            +email-item("lezsakdomi@outlook.com")
            +email-item("lezsakdomi@student.elte.hu")
            +email-item("EDU_PQQY_6669@diakoffice.onmicrosoft.com")
            +email-item("lezsakdomi2@gmail.com")
            +email-item("lezsakdomi.hun@gmail.com")
            +email-item("domonkos@lezsák.hu")
            +email-item("lezsa@ledomi-pc.budakalász.lezsák.hu")
            +email-item("led@router.budakalász.lezsák.hu")
            +email-item("led@ledomi-vm.budakalász.lezsák.hu")
    section#form
        h2: +loc({hu: "Írj nekem egy levelet", en: "Write me a mail"})
        p: +loc({en: "Please avoid using this form if possible", hu: "Kérem, kerülje ezt az űrlapot és keressen a fenti elérhetőségek egyikén ha lehet"})
        form.contactForm(action="mailto:domonkos@lezsák.hu", method='post', enctype='text/plain')
            // todo Is inline style accepted?
            input(type='hidden')
            div
                label(for="inputName")
                    = loc({en: "Name", hu: "Név"})
                    | :&nbsp;
                input(style={'--var-relative-width': 0.2}, type="text", name="name", id="inputName", size=30)
            <!-- email type is not an option :( -->
            div
                label(for="inputContact")
                    = loc({en: "contact (preferably email)", hu: "Elérhetőség (pl. email)"})
                    | :&nbsp;
                input(style={'--var-relative-width': 0.1}, type="text", name="contact", id="inputContact", size=30)
            div
                +loc({hu: "Megkeresés oka:", en: "Reason of contact:"})

                input(type="radio", name="category", value="personal", id="radioCategoryPersonal")
                label(for="radioCategoryPersonal"): +loc({en: "personal", hu: "személyes"})

                input(type="radio", name="category", value="business", id="radioCategoryBusiness")
                label(for="radioCategoryBusiness"): +loc({en: "business", hu: "üzleti"})

                input(type="checkbox", name="private", id="checkboxPrivate")
                label(for="checkboxPrivate"): +loc({en: "private", hu: "bizalmas"})
            div
                label(for="inputSubject")
                    = loc({en: "Subject", hu: "Tárgy"})
                    | :&nbsp;
                input(style={'--var-relative-width': 0.1}, type="text", name="subject", id="inputSubject", size=20)
            label(for="textareaMessage")
                = loc({en: "Message", hu: "Üzenet"})
                | :&nbsp;
            textarea(style={'--var-relative-width': 1}, name="message", id="textareaMessage")
            div
                button: +loc({en: "Send", hu: "Küldés"})
                button(type='reset'): +loc({en: "Reset", hu: "Alaphelyzet"})
