- title = "Lezsák Domonkos - Életem hosszú története"

doctype strict
html(xmlns="http://www.w3.org/1999/xhtml")
    head
        title= title
        style(type="text/css").
            h1 {
                text-align: center;
            }

            p {
                text-align: justify;
            }

            p:first-child {
                margin-top: 0;
            }

            @media (max-width: 512px) {
                #main {
                    column-count: 1;
                    margin: 1em;
                }
            }

            @media (min-width: 512px) and (max-width: 1024px) {
                #main {
                    column-count: 2;
                    margin: 2em;
                }
            }

            @media (min-width: 1024px) and (max-width: calc(1024px + 10em)) {
                #main {
                    column-count: 2;
                    margin: 5em;
                }

                h1 {
                    margin-top: 3em;
                }
            }

            @media (min-width: calc(1024px + 10em)) {
                #main {
                    column-count: 2;
                    margin: 5em auto;
                    width: 1024px;
                }

                h1 {
                    margin-top: 3em;
                }
            }
            
            @media (min-width: calc(1024px + 10em)) and (min-height: 850px) {
                h1 {
                    margin-top: 5em;
                }
            }
    body
        h1= title
        #main
            include ../assets/cv-hu
