extends layout

block append head
    +stylesheet('embedded')

block content
    p: i: +loc({hu: "Ismertető néhány eszközről, amellyel dolgoztam", en: "Devices I've worked with"})
    article
        h2 Raspberry PI
        section: +unloc('hu')
            p.
                A Raspberry PI az egyik legnépszerűbb és legszélesebb körben ismert
                vezérlőegysége az automatizált rendszereknek.
            p.
                Az eszköz egy teljes értékű Neumann-elvű számítógép. A hagyományos
                asztali számítógépektől a kis mérete, ARM architektúrája illetve alacsony fogyasztása
                és nem szokványos portjai különböztetik meg.
            table
                caption
                    details(class="reset")
                        summary(class="reset") A Raspberry Pi és egy szokványos PC összehasonlítása
                        p.
                            Az első oszlopban az ellátott funkció megnevezése van,
                            a másodikban egy PC, a harmadikban pedig egy Raspberry
                            esetén a megvalósítás.
                        p.
                            A harmadik oszlopban (RPi) többször a különbség
                            előnyei/hátrányai is szerepelnek.
                tr
                    th Funkció
                    th Port PC esetén
                    th Port RPi esetén
                tr
                    td Áramellátás
                    td
                        | ATX
                        a(href="https://en.wikipedia.org/wiki/ATX#/media/File:24-pin_ATX_power_plug_from_a_Seasonic_PSU_20131105.jpg", target='_blank'): figure
                            img(src=asset('thumbnails/640px-24-pin_ATX_power_plug_from_a_Seasonic_PSU_20131105.jpg'),
                                alt="24-pin ATX power connector")
                            figcaption 24-pines ATX csatlakozó
                    td
                        | MicroUSB
                        p.
                            A MicroUSB szabványnak köszönhetően a rendszer
                            akár még egy Powerbank-ről is üzemeltethető.
                        p.
                            Az alacsony (5V) feszültségnek köszönhetően
                            az eszköz biztonságos és alacsonyabb a fogyasztása is.
                tr
                    td Hálózat (internet és egyéb kommunikáció)
                    td Ethernet
                    td Ethernet
                tr
                    td Szabványos perifériák csatlakoztatása
                    td USB, ePCI, PCI
                    td csak USB
                tr
                    td Képernyő
                    td HDMI, VGA vagy DVI, esetleg DisplayPort
                    td HDMI és egy sajátos szalagkábeles csatlakozó
                tr
                    td GPIO (<i>bármire</i> használható ki-/bemenetek)
                    td -
                    td: a(href="https://pinout.xyz/") 26 db tű, amelyre bármilyen vezeték csatlakoztatható
        section: +unloc('hu')
            h3 Programozása
            p.
                A Raspberry Foundation készített
                #[a(href="https://www.raspberrypi.org/downloads/raspberry-pi-os/") egy operációs rendszert]
                az eszközéhez, amely egyszerűen telepíthető és rengeteg szoftvert tartalmaz,
                ami segít elindulni az eszköz felhasználásában.
            p.
                A RPi végső soron egyszerű asztali számítógépként is használható,
                hiszen minden szükséges perifériával rendelkezik és az alacsony
                fogyasztás mellett viszonylag alacsony az előállítási költsége.
                Szoktak RPi-ből szerverfarmokat is építeni.
        section
            +unloc('hu')
                h3 Személyes tapasztalat
                p.
                    Habár a RPi nagyon könnyen használható, sokszor túlzás ezt az eszközt
                    választani egyszerű feladatok végrehajtásához. Legnagyobb előnye
                    a széleskörűség, így tanulásra ideális, azonban éles projektben
                    csak akkor érdemes alkalmazni, ha vagy valóban szükség van
                    a RPi által nyújtott mértékű számítási kapacitás helyi meglétére,
                    a fejlesztési költség jóval érzékenyebb mint a hardverköltség,
                    szükség van egy felhasználóbarát végeszközre (aminek a funkcióját
                    külső laptop vagy telefon nem tudja ellátni) vagy csak prototipizálunk.
            .media
                +video("VID_20200516_204926.mp4")(controls)
                aside: +unloc('hu')
                    | A videóban az egyik Raspberry Pi-s projektem kerül bemutatásra.
                    | A RPi feladata egy relétömb vezérlése, amelyre több szivattyú
                    | köthető. A Raspberry el van látva egy érintőképernyővel,
                    | amin minden egyes reléhez (szivattyúhoz) három gomb tartozik:
                    ul
                        li Bekapcsolás
                        li Kikapcsolás
                        li Bekapcsolás adott ideig
                    | A videón az látható, hogy egy szivattyút aktiválok 1mp-ig, majd
                    | azt manuálisan bekapcsolom és kikapcsolom, 1mp-re újra aktiválom,
                    | és végül a relétömböt kamerázva prezentálom hogy akár a többi
                    | relét is lehet vezérlni.
    article
        h2 Arduino Uno
        section: +unloc('hu')
            p.
                Az Arduino egy népszerű és olcsó mikrovezérlő (ATMega 328P) köré
                épített fejlesztői lap, amely el van látva egyszerűen használható
                GPIO csatlakozókkal, feliratokkal, tápellátási elektronikával,
                USB csatlokozóval és beépített USB-Serial adapterrel, így nagyon
                egyszerűen tudunk ennek segítségével prototipizálni. Ha úgy gondoljuk,
                hogy a fejlesztői panel túl nagy helyet foglal, egyszerűen kivehetjük
                a központi IC-t (a mikrovezérlőt) az Arduino-ból és beforraszthatjuk
                a saját áramkörünkbe.
        section
            h3: +unloc('hu') Az Arduino programozása
            p: +unloc('hu').
                Az Arduino programozását nagyban megkönnyíti egy Arduino nevű
                #[abbr(lang='en', title="Integrated Development Environment") IDE]
                amely elrejti a programozó elől a szükségtelen technikai részleteket.
                Habár ez azt jelenti, hogy az Arduino gyors fejlesztést tesz lehetővé,
                én inkább csak kezdőknek ajánlom. A hardver azonban nagyon jó professzionális
                felhasználásra is.
            p: +unloc('hu').
                Az Arduino Uno rendelkezik 6 ún. PWM kimenettel, amelyek speciális
                módon is vezérelhetőek (HW interrupt, PWM, ...), azonban bit-banging
                technológiával (az egyes kimenetek közvetlenül CPU-val való ki/be kapcsolgatásával)
                is elég jó eredményeket lehet elérni és kihasználható mind a 14 digitális IO
                port. Az Arduino Uno emellett tartalmaz 6 analóg bemenetet, ami 10
                bites felbontással tud feszültséget olvasni.
            .media
                +video("VID_20200715_094617.mp4")(controls)
                aside: +unloc('hu').
                    A videón egy Snake szerű egyszerű Arduino-s projekt látható,
                    amin a kígyót jelképező 9 LED fokozatosan kezd el világítani
                    illetve alszik el.
        section: +unloc('hu')
            h3: +unloc('hu') Felhasználási területek
            p: +unloc('hu').
                Az Arduino a megfelelő eszköz egyszerű elektronikai eszközök vezérlésére.
                Mivel a standard függvénykönyvtár nem igényel operációs rendszert,
                az eszközön futó szoftver könnyedén átlátható, így kevesebb hibalehetőséget
                hordoz. Talán kevéssé ismert funkció, hogy az Arduino adatok
                tárolására is képes, ahogy az alábbi videóban is látható.
            .media
                +video("VID_20200715_094855.mp4")(controls)
                aside: +unloc('hu').
                    A videón az egyik demonstrációs jellegű projektem látható:
                    Egy arduino egy 4 számjegyes 7-szegmenses kijelzővel és két gombbal.
                    Ha a kütyüt áram alá helyezzük, kiír egy számot,
                    amit a "+" felíratú gombbal növelni, a "-" felíratúval
                    csökkenteni lehet. Ha elvesszük az áramot majd visszadugjuk,
                    akkor a számláló ugyanarról a számról indul ahol előzőleg állt.
    article
        h2: +loc({hu: "Digitális technika", en: "Using digital ICs"})
        p: +unloc('hu').
            Sokszor az is elég, ha csak néhány logikai IC-t és vezetékeket
            használunk. Tulajdonképpen pusztán NAND-kapukból egy CPU is
            elkészíthető. Azonban sokszor nem érdemes sajátkezűleg készíteni
            bonyolult áramköröket, mivel a több alkatrésszel nagyobb hibalehetőség
            is jár a mi oldalunkon, míg egy sokat tesztelt IC megbízhatónak mondható.
        .media
            +video("VID_20200715_095425.mp4")(controls)
            aside: +unloc('hu').
                A videón egy általam készített 4 bites bináris összeadó látható.
                Egy hosszú breadboard bal oldalán egy 8-as DIP kapcsoló van
                (a bemenetek kétfelé osztva: 1-4 az első számot, 5-8 a második
                összeadandó számot jelképezi, binárisan), a jobb oldalán pedig
                6 LED ami a végeredményt jelképezi (binárisban).
                A videón az látható, hogy kipróbálom néhány szám összeadását.
    article
        h2 NI MyRIO-1900
        section
            h3: +loc({hu: "Az eszközről általában", en: "About the device in general"})
            p: +unloc('hu').
                Ez egy viszonylag drága eszköz, azonban a jó minőségnek és a
                beépített FPGA-nak köszönhetően szinte bármely feladatot el tud
                látni. Tulajdonképpen inkább egy műszer mint egy vezérlőegység.
            figure.media
                +img("WRO.jpg", "WRO 2019 ASAP robot")
                aside: +unloc('hu').
                    <!-- Maybe this should have been a figcaption -->
                    A képen a 2019-es WRO ARC versenyre készített robot látható,
                    ennek kapcsán ismertem meg az eszközt, hiszen kötelező volt
                    a MyRIO-t használni központi vezérlőegységként.
        section
            h3 LabVIEW
            p: +unloc('hu').
                Az eszköz a LabVIEW nevű grafikus programozási nyelvben programozható,
                amelynek óriási előnye hogy bárki tudja írni és olvasni egy rövid
                magyarázat után.
                Alább látható pár példaprogram néhány részlete.
            figure.media
                +img("WRO-code.png", {hu: "WRO 2019 ASAP kód", en: "WRO 2019 ASAP code"})
                figcaption: +unloc('hu').
                    A versenyben élesben használt program "forráskódja", amely maximális pontot ért volna
            figure.media
                +img("Qualification_roundd.png", {hu: "WRO 2019 ASAP válogató kód", en: "WRO 2019 ASAP qualification round code"})
                figcaption: +unloc('hu').
                    A döntős menetkör kódja, amit sajnos nem sikerült élesben tesztelnünk
        section
            h3 FPGA
            p: +unloc('hu').
                A MyRIO rendelkezik egy FPGA-val, ami egy olyan újfajta architektúra,
                amely képes a videókártyák mai feladatait akár sokkal hatékonyabban
                is ellátni. A működési elve az, hogy rengeteg digitális technikából
                ismert komponenssel rendelkezik (logikai kapuk, LUT-ok, stb.), amelyek
                programozható buszokkal vannak összekötve, így akár zéró futásidejű
                kódot is lehet rá írni.
            figure.media
                +img("FPGA_Main_Experimentalp.png", {hu: "WRO 2019 ASAP FPGA kommunikációs regiszterek", en: "WRO 2019 ASAP FPGA registers"})
                aside: +unloc('hu').
                    Az FPGA regisztereken keresztül kommunikál a CPU-val.
            figure.media
                +img("FPGA_Main_Experimentald.png", {hu: "WRO 2019 ASAP FPGA kód", en: "WRO 2019 ASAP FPGA code"})
                aside: +unloc('hu').
                    Ezt a kódot használtuk a versenyen. Különösen érdekes a jobb felső sarokban található
                    "Connector C DIO" nevű ciklus, amely egy microswitch-mátrixból való olvasást tesz lehetővé.
                    Alatta a saját készítésű ultrahang-szenzor-tömbünket (12 db) meghajtó kód látható,
                    azonban az érdekes részek el vannak rejtve egy külön függvénybe (SubVI-be).

    article(lang='hu')
        h2 Az oldalról
        p.
            Ez az aloldal az IP-18WFEG és az IP-18SZGREG tárgyak beadandójaként készült.
    footer(lang='hu').
        Disclaimer: A tartalom néhány téren esetleg erőltetett lehet, de egyszerre mutatja
        be az embedded rendszereket ismeretterjesztő jelleggel és az én szakmai tapasztalatomat.
