extends layout

block content
    section(lang=(lang !== 'hu') && 'hu')
        article: :markdown-it
            ## Kutatási területeim

            Az érdeklődési köröm nagyon szerteágazó, de igyekszem
            az informatikán belül a **programozás**ra és azon belül is
            az **absztrakciós-konkretizációs folyamatok**ra
            koncentrálni. Ezen kívül hobbi szinten érdekel a **térképészet**
            és az **oktatásinformatika**, így ezekkel is említésre méltóan foglalkozom.
            Hasonlóan vonzódok az **elektronika** / **digitális technika**, illetve
            **vezérléstechnológia** felé is, azonban az októberi
            _World Robot Olympiad_ versenyre való készülést
            leszámítva szeretnék inkább az elméleti területek felé orientálódni.
            A 2020-as évben elsősorban a **funkcionális nyelvek**kel szeretnék foglalkozni,
            ehhez kapcsolódik az ÚNKP-pályázatom is, melynek témája _„Webes környezetben
            futtatható interaktív programok létrehozása és analizálása az Agda nyelv segítségével”_.
            Szakdolgozatom keretében 2022-ben egy molekuláris biológiai programot szeretnék készíteni,
            és ehhez kapcsolódóan TDK munkám annak matematikai háttere, a granulumok illetve azokhoz
            fúzionáló lizoszómák felismerése / beazonosítása lenne fluoreszcens mikroszkópos
            képek alapján.
        article
            h2 Eredményeim összefoglalása
            section
                h3 Kutatói elhivatottságom tekintetében
                ul
                    li.
                        A XXV.Ifjúsági Innovációs és Tanulmányi Versenyen dicséretben
                        részesültem
                    li.
                        Személyes konzultáció után lehetőséget kaptam a T - Labs
                        és az FTSRG kutatócsoport munkájába való bekapcsolódásra
                        (de középiskolai tanulmányaim nem engedték a részvételt)
                    li.
                        A WRO csapatversenyen ARC kategóriában indult robotunkkal
                        meghívást kaptunk a Nokiához a Kutatók Éjszakájára előadóként
            section
                h3 Informatikusi elhivatottságom tekintetében
                ul
                    li
                        p.
                            Minden évben rendszeresen részt vettem a
                            Nemes Tihamér Országos.Informatikai Tanulmányi Versenyen,
                            tavaly országos első helyezést értem el:
                        ul
                            li Programozás kategóriában: 10. (2015),  7. (2016), 31. (2017), 14. (2018),  1. (2019)
                            li Alkalmazás kategóriában:   4. (2016), 10. (2017), 22. (2018), 49. (2019)
                            li LOGO OSZTV:               15. (2017), 38. (2018),  7. (2019)
                    li Rokon terület: Náboj Matematikaversenyen csapatban nemzetközi I.helyet szereztem (2018)
                    li Meghívást kaptam a Fazekas Mihály Gimnáziumban tartott Olimpiai Felkészítő Szakkörre és az ELTE - n tartott Olimpiai Válogatóversenyre (2019, 2020)
                    li Elnyertem az Ars Informatica díjat
                        details
                            summary: a(href="https://verespg.hu/informatika/ajanlo/ars-informatica-dij") Ajánló
                            p.
                                Lezsák Domonkos gondolkodását és mindennapjait alapvetően
                                átszövi az informatika. Mindenről tudni akarja, hogy hogyan működik,
                                és ez a tudásvágya, jó értelemben vett megszállottsága
                                sarkallja állandóan új ötletekre, megoldási módszerekre,
                                amelyeket lehetőség szerint ki is próbál, alkotó fantáziájával ötvözve.
                                Segíteni akaró szemléletmódja teszi a közösségekben is aktív taggá,
                                aki megoldja a problémákat – legyen szó diákönkormányzati szervezésről,
                                egy történelmi kronológia-program megírásáról,
                                a folyosói vitrinbe kerülő intenzív heti projektmunkáról,
                                az informatikai versenyfeladatok internetes keresőrendszerének elkészítéséről,
                                vagy 8.-os diákként a fiatalabbaknak és saját évfolyamtársainak szóló programozás szakkör vezetéséről.
                                11. évfolyamos korában 99%-os emelt szintű érettségit tett informatikából.
                                Rendszeres és rutinos versenyző, 6. osztályos kora óta minden évben
                                ott volt legalább egy programozói vagy alkalmazói verseny döntőjében,
                                emellett indult Lego és innovációs versenyeken is.
                                Legjobb eredményei közé tartozik a Nemes Tihamér
                                programozói verseny országos 1. helyezése,
                                a Logo-verseny országos 7. helyezése,
                                valamint az informatika OKTV alkalmazói kategóriájának országos 49. helyezése.
                    li Bekerültem a "Neumann-kör"-be, amely a kar legkiválóbb 20 hallgatójának nyújt tehetséggondozást, 2022-ben 14-en voltunk az összes 403 hallgatóból.
                    li Tagja vagyok a Bolyai Kollégiumnak, amely az ELTE egyik szakkollégiuma
            section
                h3 Tanári elhivatottságom tekintetében
                ul
                    li Két évig programozás versenyfelkészítő szakkört tartottam az iskolám fiatalabb diákjainak, akik közül van, aki döntőbe is jutott
                    li.
                        2018 - ban egy 30 fős, jórészt hátrányos helyzetű gyermekeknek tartott
                        Erzsébet - táborban segítőként vettem részt(többek közt néhány
                        LEGO - robottal vezettem be a gyerekeket a robotika világába)
                        és a következő évben is visszavártak volna
                    li.
                        2021-ben egyetemi gyakorlatot tartottam évfolyamtársaimnak egy olyan tárgyból,
                        amit én korábban már elvégeztem. (Típuselmélet tárgy, Agda programozási nyelv)
            section
                h3 Vezetői elhivatottságom tekintetében
                ul
                    li.
                        Az ELTE EKSZ (Együtt a Környezettudatos Szemléletmódért) szervezetének kollégiumi szintű (NFK)
                        koordinátora vagyok.
        article
            h2 Tételes eredmények
            ul
                li Oktatott tágy: <i>Típuselmélet gyakorlat</i>
                li Egyetemi tanulmányok: <i>Eötvös Lóránd Tudományegyetem</i>
                li Vezető fejlesztő a <i>Virtuális Kolléga</i> startupnál <b>2019-</b>
                li <i>Nemes Tihamér Országos Programozási Verseny</i> <b>országos I.</b> helyezés
                li Államilag elismert középfokú <b>német</b> nyelvvizsga
                li Államilag elismert középfokú <b>angol</b> nyelvvizsga
                li Középiskolai tanulmányok: <i>Békásmegyeri Veres Péter Gimnázium</i>
                li <i>World Robot Olympiad</i> Advanced Robotics Challange <b>nemzeti 7.</b> helyezés
                li Saját szakkör vezetése a Békásmegyeri Veres Péter Gimnáziumban
                li Backend fejlesztő a <i>WebOrigo</i>-nál <b>2016-2020</b>
                li Szabadúszó fejlesztő <b>2014-2016</b>
                li ...