extends layout

block append head
    +stylesheet('home')

mixin ELTE
    case lang
        when 'en'
            abbr(lang='en', title="Eötvös Loránd University") ELTE
        default
            abbr(lang='hu', title="Eötvös Loránd Tudományegyetem") ELTE

block h1
    +img("20190730_194514.jpg", {en: "profile picture", hu: "profilkép"})(id='profilePicture')
    span.name= name
    // div is not allowed as we are in html5

block append maintop
    if lang === 'hu'
        p: i.
            Egy mindig jókedvű, barátságos, széles látókörű,
            új gondolatmenetekre nyitott és interdiszciplináris
            területeket kedvelő programozó, akire bármikor lehet számítani

block content
    case lang
        when 'hu'
            article(lang='hu')
                h2 Bemutatkozás
                section
                    p Üdv!
                    p.
                        Lezsák Domonkos vagyok, szabadúszó backend fejlesztő, jelenleg
                        az #[+ELTE] diákjaként programtervező informatikusnak tanulok.
                section: details
                    summary Művészetek, hobbik
                    p.
                        Szeretek zenélni. A Veres Péter Gimnáziumban az iskolai
                        fúvószenekar tagja voltam (I./II. trombitásként).
                        A zenekarból kiválva egy kisebb csapattal többször is
                        koncertet adtunk a helyi idősek otthonában, illetve
                        felléptünk az óbudai ifjúsági hangversenyen.
                        Emellett érdeklődöm az audiotechnika iránt is, legyen szó
                        akár egy nagyteljesítményű erősítőről
                        vagy a MIDI szabvány implementálásáról. Talán ehhez
                        kapcsolódik, hogy a film/fotótechnika is érdekel,
                        azonban nagy tapasztalatom e téren nincs, mivel
                        nem rendelkezem megfelelő felszereléssel.
                    p.
                        Versenyszerűen nem sportolok, de szeretek futni és biciklizni,
                        és ha időm engedi, kirándulni.
                    p.
                        Bélyegeket nem gyűjtök, azonban talán már a
                        nagyon egysíkúan elméleti informatika mellett hobbiszámba megy, hogy
                        szeretek hagyományos módon „elektronikázni”:
                        Legyen szó akár egy sürgősen elkészítendő
                        sajátkezűleg rajzolt és maratott passzív alkatrészekre épülő áramkörről,
                        akár egy enduro motor gyújtásvezérlésének IC-s tuningolásáról,
                        kedvenc elfoglaltságaim közé tartozik.
                    p.
                        Legfontosabb nem tanulmányi jellegű érdeklődésem talán az,
                        hogy imádok társasjátékozni.
                section: details
                    summary Életem hosszú története
                    include ../assets/cv-hu
                section
                    p.
                        Nézz szét a #[+link('experiences') szakmai tapasztalataim] között,
                        vagy fedezd fel az oldalt a fenti linkek segítségével!
        default
            article(lang='en')
                h2 Introduction
                p Hi!
                p.
                    I'm Domonkos Lezsák, a freelancer backend developer currently
                    studying Computer Science in the Eötvös Loránd University in
                    Budapest, Hungary.
                p.
                    Take a look on my #[+link('experiences') work experiences] or
                    explore the site using the links above
    case lang
        when 'hu'
            article(lang='hu')
                h2 Az oldalról
                p.
                    Ez az oldal eredetileg az #[+ELTE] <code>IP-18WF1EG</code> tárgya keretében készült.
        default
            article(lang='en')
                h2 About this site
                p.
                    Originally this site was made for the <code>IP-18WF1EG</code> subject of #[+ELTE].
