doctype html
html
    head
        link(rel='stylesheet' href="//webfejlesztes.inf.elte.hu/feladat/bemutatkozas.css")
        meta(charset='UTF-8')
        title Lezsák Domonkos
        style.
            p.nofirstem:first-letter {
                font-size: inherit;
                font-weight: inherit;
                color: inherit;
            }
    body
        header
        main
            a(id='top')
            h1 Életrajz
            :markdown-it
                Lezsák Domonkos vagyok, szabadúszó backend fejlesztő, jelenleg
                az _Eötvös Loránd Tudományi Egyetem_ diákjaként programtervező
                informatikusnak tanulok.

                Az érdeklődési köröm nagyon szerteágazó, de igyekszem
                az informatikán belül a **programozás**ra és azon belül is
                az **absztrakciós-konkretizációs folyamatok**ra
                koncentrálni. Ezen kívül hobbi szinten érdekel a **térképészet**
                és az **oktatásinformatika**, így ezekkel is említésre méltóan foglalkozom.
                Hasonlóan vonzódok az **elektronika** / **digitális technika**, illetve
                **vezérléstechnológia** felé is, azonban az októberi
                _World Robot Olympiad_ versenyre való készülést
                leszámítva szeretnék inkább az elméleti területek felé orientálódni.
                A 2020-as évben elsősorban a **funkcionális nyelvek**kel szeretnék foglalkozni,
                ehhez kapcsolódik az ÚNKP-pályázatom is, melynek témája _„Webes környezetben
                futtatható interaktív programok létrehozása és analizálása az Agda nyelv segítségével”_.
            h2 Projektjeim
            ul
                mixin proj(url)
                    li: a(href=url, target='_blank', onclick=`window.open(${JSON.stringify(url)}, 'newwindow', 'width=0, height=0'); event.preventDefault();`): block
                +proj("https://lezsakdomi.github.io/elte-mester-data/") Mester2
                +proj("https://lezsakdomi.github.io/mondatszerubol-struktogram/") mondatszerűből struktogram
                +proj("https://lezsakdomi.github.io/labirynth2/") Hedvig Labirintusa 2.0
            h2 Nyelvtudásom
            ol
                li német (B2)
                li angol (C1)
                li kínai (folyamatban)
        footer
            p.nofirstem Készült #[time(datetime="2020-10-16T7:00Z") péntek délelőtt].
            a(href='#top') Vissza a tetejére