- lang = lang || 'hu'
- name = name || lang === 'hu' ? "Lezsák Domonkos" : "Domonkos Lezsák"
- path = path || []
- pages = pages || []
- function loc(o, def) { if (typeof o === 'string') return o; else return o[lang] || o['default'] || o[def || 'default'] || o['en'] }
- title = title || loc(page.title)
- function asset(resource) { if (/^\/?media\//.exec(resource)) return `https://people.inf.elte.hu/lijjo8/assets/${resource}`; else return url.replace(/\/?[^/]+$/, "").replace(/[^/]+/g, "..").replace(/^\//, "") + `/assets/${resource}` }

mixin loc(o, def)
    if typeof o === 'string'
        = o
    else if lang in o
        = o[lang]
    else if def && def in o
        span(lang=def)= o[def]
    else if 'en' in o
        span(lang='en')= o['en']
    else if 'default' in o
        = o.default
    else
        - const lang = Object.getOwnPropertyNames(o)[0]
        span(lang=lang)= o[lang]

mixin unloc(writtenLang)
    if writtenLang === lang
        block
    else
        span(lang=writtenLang)
            block

mixin link(view)
    - const result = pages.find(page => page.view === view)
    - const {url: urls, title: titles} = result
    - const siteLang = lang in urls ? lang : 'en' in urls ? 'en' : Object.getOwnPropertyNames(urls)[0]
    a(lang=siteLang !== lang && siteLang, href=urls[lang])
        if block
            if siteLang !== lang
                span(lang=lang)
                    block
            else
                block
        else
            = titles[siteLang] || urls[siteLang]

mixin stylesheet(stylesheet)
    link(rel='stylesheet' href=`/stylesheets/${stylesheet}.css`)&attributes(attributes)

mixin img(file, alt)
    a(href=asset(`media/${file}`))
        img(src=asset(`thumbnails/${file}.jpg`), alt=loc(alt))&attributes(attributes)
        block

mixin video(file)
    video(poster=asset(`thumbnails/${file}.jpg`))&attributes(attributes)
        source(src=asset(`media/${file}`))

doctype html
html(lang=lang)
    head
        block head
            title= name + (path.length && path[path.length - 1].title[lang] ? " | " + path[path.length - 1].title[lang] : "")
            +stylesheet('style')(media='screen')
            +stylesheet('print')(media='print')
            meta(charset="UTF-8")
    body
        div#accessibilityLink
            a(href="#contentStart"): +loc({en: "Skip to main content", hu: "Ugrás a tartalomra"})
        header
            div
                .mainNav
                    nav
                        -
                            const pageList = pages
                                    .filter(page => !page.hidden)
                                    .map(page => ({...page, url: page.url[lang], title: page.title[lang]}))
                                    .filter(page => page.url && page.title)
                                    .filter(page => page.url.match(/^\/[^/]+\/?$/))
                        each page, i in pageList
                            a(href=page.url, class={current: page.url.startsWith(url)})= page.title
                            if i !== pageList.length - 1
                                =" | "
                    -
                        const subPageList = pages
                                .filter(page => !page.hidden)
                                .map(page => ({...page, url: page.url[lang], title: page.title[lang]}))
                                .filter(page => page.url && page.title)
                                .filter(page => page.url !== url && page.url.startsWith(url))
                    if subPageList.length
                        br
                        each page, i in subPageList
                            a(href=page.url, class={current: page.url === url})= page.title
                            if i !== subPageList.length - 1
                                =" | "
                +loc({en: "Available languages:", hu: "Elérhető nyelvek:", default: "🌍"})
                | &nbsp;
                nav
                    - const links = [...Object.entries(page.url)]
                    each link, i in links
                        - const [targetLang, url] = link
                        a(href=url, class={current: targetLang === lang})= targetLang
                        if i !== links.length - 1
                            =" | "
            hr
        block main
            main
                div
                    block maintop
                        h1
                            block h1
                                = title
                div#contentStart
                block content