extends layout

block content
    article
        h2: +loc({hu: "Saját projektek", en: "Own projects"})
        ul
            li
                a(href="https://github.com/lezsakdomi/elte-mester-data") Mester2
                if lang === 'hu'
                    .desc Alternatív felület a #[a(href="//mester.inf.elte.hu") Mester] feladataihoz
            li
                a(href="https://github.com/lezsakdomi/mondatszerubol-struktogram") mondatszerűből struktogram
                if lang === 'hu'
                    .desc Struktogramok szerkesztése másképpen
    article
        h2: +loc({hu: "Külső projektek", en: "External projects"})
        if lang === 'hu'
            p: i A könyvjezősávomból...
        ul
            li: a(href="//mester.inf.elte.hu") Mester
            li: a(href="https://stackedit.io/") StackEdit Mardown #[+loc({hu: "szerkesztő", en: "editor"})]