p.
    1999. december 3-án, Budapesten születtem, azóta családommal
    Budakalászon (a harmadik kerület mellett) lakom, ennek ellenére
    életem nagy részét Békásmegyeren töltöttem: Itt jártam óvodába
    (Mustármag Keresztény Óvoda) és gimnáziumba (Veres Péter Gimnázium).
    Általános iskolába a Kalász Suli nemzetiségi iskolába jártam.
    Az ötödik osztályt saját akaratomból megismételtem, mivel a
    nyolcosztályos gimnáziumba ötödikesként felvételiztem, azonban
    határozottan állíthatom, hogy megérte, mivel így bekerültem a
    környék szerintem legjobb iskolájába. Ebben a korszakban
    leginkább az elektronika (vagy inkább digitális technika) érdekelt.
p.
    Felső tagozatban kezdtem el komolyabban foglalkozni az informatikával.
    Sajnos a 2012-es NAT szerint az informatikának csak az alapjait
    tanultuk hivatalos keretek között, így minden szakköri lehetőséget
    kihasználtam a fejlődésre, sőt, 7. és 8. osztályban még saját
    szakkört is tartottam. Az informatikatanárok elsősorban a Nemes Tihamér
    versenyekre tudtak felkészíteni, így akkor az algoritmizálási
    képességem fejlődött.
p.
    A gimnáziumi években a webprogramozás és később párhuzamosan
    a robotika és a funkcionális programozás irányába összpontosultaz érdeklődésem.
    2020-ban is weboldalak készítésével és rendszerüzemeltetéssel
    (Linux, illetve CI/CD) foglalkozok, ha munkára kerül a sor.
    A webes technológiák hiányosságait látva elkezdtem az Elm-mel foglalkozni,
    amelynek hatására még júniusban ÚNKP pályázatot adtam le
    „Interaktív felhasználói felületek programozása Agda [egy funkcionális nyelv] nyelven” címmel.
p.
    A II. gimnáziumi osztályban elkezdtem járni a frissen indult
    iskolai LEGO robotika szakkörre, és részt vettem az első FLL
    és WRO ARC versenyemen. A következő évben az akkor FLL-en nyertes
    ASAP csapat feloszlott, én egyik tagjával álltam össze WRO-ra,
    2020-ban is vele járok versenyekre. Tavaly a robotunk váratlan
    meghibásodása miatt csak a 7. helyen végeztünk, idén két ugyanolyan
    robottal tervezünk indulni és az első helyre törni. Azonban
    robotikával kapcsolatos pályafutásom szerintem ezzel véget is ér,
    hiszen a WRO verseny jövőre nem kerül megszervezésre és nem
    találtam olyan versenyt, ahol a megvásárolt alkatrészeket
    hasznosíthatnánk.
p.
    A gimnáziumban azonban nem csak szakmailag teljesedtem ki; nagyon
    fogom hiányolni az ottani közösséget. Aktívan bekapcsolódtam
    az Iskolai Diák Tanács munkájába is. Természetesen, mint informatikus,
    kiharcoltam a szervezetnek egy saját honlapot és átalakítottam a
    legnagyobb eseményünk, a DÖNCI szervezésének folyamatát.
p.
    A természettudományok iránt  mindvégig érdeklődtem. Ha sorrendet
    kellene felállítanom, akkor toronymagasan előre sorolnám a fizikát,
    utána következne a pszichológia, majd a kémia, és végül leghátul
    a biológia kullogna. Az érettségit én is a pandémiás intézkedések
    alatt tettem le, így kerültem a fölösleges utazást, és arra jutottam,
    hogy a felvételi pontszámomon számottevően nem változtatna,
    ha a további érettségijeimet középszinten tenném le, így
    a matematika és fizika érettségi jelentkezésemet
    emelt szintűről középszintűre módosítottam.
p.
    2020-ban egy új fejezet kezdődött az életemben, ami az ELTE
    Informatikai Karának falain belül fog játszódni, sok-sok
    élménnyel, tapasztalattal, ismeretanyaggal és rendszeres
    OTDK részvétellel.