input[type="search"] + div {
	display: none;
}

input[type="search"]:hover + div {
	display: block;
}

@media print {
	input[type="search"], section#form {
		display none
	}

	[data-is-contact] a {
		color black
		text-decoration none
	}
}
