body {
	background: url("/assets/depositphotos_8995822-stock-illustration-circuit-board-background-fade.jpg") no-repeat;
	background-position-y: bottom;
	background-size: contain;
	margin-bottom: 45%; // this way the text stays readable on the background
}

main
	margin-left: 2em;
	margin-right: 2em;

img, video
	@media (min-width 800px)
		width: 75%
	background black

figure
	margin 1em
	img
		width initial

		td &
				 width 5em // or better: 50px

@media (max-width: 400px) {
	tr:first-child {
		display: none;
	}

	tr {
		display: flex;
		flex-direction: column;
	}

	tr > td:first-child {
		font-weight: bold;
		margin-top: 0.5em;
	}

	tr > td:not(:first-child) {
		margin-left: 1em;
	}

	tr > td:nth-child(2)::after {
		content: 'vs';
		display: block;
		margin-left: -0.5em;
	}
}

@media print {
	.media {
		img, video {
			display none
		}
		&::before {
			display inline-block
			content 'media'
			font-style italic
			border 1px solid black
			padding 1em
		}
	}
}
