img#profilePicture
	width: var(--var-intentionally-100px-see-selfEvaluationExcel-for-details)
	--var-intentionally-100px-see-selfEvaluationExcel-for-details: 100px
	margin-right: 0.5em; // followed by .name

.name
	display inline-block
	font-family "Arial", sans-serif
	font-weight lighter