.reset {
	// all: initial !important;
	cursor: initial !important;
	text-decoration: initial !important;
	color: initial !important;
	border: initial !important;
	padding: initial !important;
	margin: initial !important;
}

header > div {
	display: flex

	@media (max-width: 400px) {
		flex-flow column
		& > .mainNav {
			margin-bottom 1em
		}
	}

	& > .mainNav {
		flex-grow: 1;
	}

	& > * {
		display: inline-block;
	}
}

a.current {
	font-weight: bold;
}

main {
	@media (min-width 360px) {
		padding 1em;
	}

	@media (min-width 600px) {
		padding: 3em;
	}

	max-width 900px;
	@media (min-width 1000px) {
	}

	& > :first-child {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	& > :first-child > h1 {
		margin-top: 0;
		margin-bottom: 0;
	}
}

details {
	border-left: 1px solid black;
	padding-left: 1rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;

	& > summary:not(:only-child) {
		cursor: pointer;
		text-decoration: dotted underline;
		color: blue;
	}
}

form {
	@media (min-width: 400px) {
		width: 75%;
	}
	display: flex;
	flex-direction: column;

	& > * {
		margin-top 0.5em
	}
	& > label + textarea {
		margin-top 0
	}

	& > div {
		display: flex;
		flex-direction: row;
		align-items baseline


		& > input, & > textarea {
			//flex-grow var(--var-relative-width)
			flex-grow 1
			&[type="radio"], &[type="checkbox"] {
				flex-grow 0
				margin-left 1em
			}
		}
	}

	&.contactForm {
		height: 300px;
	}
}

.media {
	margin: 1em;
	@media (max-width: 400px) {
		margin-left 0
		margin-right 0
	}

	display: flex;
	gap 1em
	@media (max-width 800px) {
		flex-flow column
		gap 0
		aside {
			padding 1em
		}
		border: 1px solid gray;
		box-shadow: 1px 1px 5px lightgray;

		img {
			width 100% !important
		}
	}

	& > :first-child, .media img {
		border: 1px solid black;
	}

	img:first-child {
		width: 70%;
	}

	& > a:first-child {
		display: contents;
	}
}

#accessibilityLink {
	position absolute
	top -2em
}
